<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout::layout-head}">
    <meta charset="UTF-8">
    <title>Thymeleaf示例</title>


    <style>
        .username{
            background-color: beige;
            color:mediumvioletred;
            text-shadow: 1px 1px 1px lightgray;
        }
        .dish{
            color:saddlebrown;
            font-style: italic;
        }
    </style>
</head>
<body>
<div id="container">
    <div th:replace="~{layout/layout::layout-navbar}">
        虚拟导航
    </div>

    <!--内容替换-->
    <h2>早上好，<span class="username" th:text="${username}">玉林</span></h2>

<!--    <img th:src="@{${hongshaorou}}" alt="">-->
    
    <!--遍历-->
    <ul >
        <li th:class="${dishClass}"
            th:classappend="${usernameClass}"
            th:each="dish : ${dishes}" th:text="${dish}">白灼菜心</li>
    </ul>

    <!--判断-->
    <div th:if="${age>14}">
        读高中
    </div>
    <div th:unless="${age>14}">
        读高中以下
    </div>

    <div>
        <h2>对象</h2>
        <div>
            <div th:text="${session.fanrongdeduixiang.job}"></div>
            <div th:text="${#dates.format(session.fanrongdeduixiang.firtDateTime,'yyyy-MM-dd HH:mm:ss')}"></div>
        </div>
    </div>

</div>

<div th:replace="~{layout/layout::layout-footer}">
    脚注
</div>

</body>
</html>